<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TPKeyBoardAvoidingDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84E5E2691CBE109800523452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E5E2821CBE109800523452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E5E28D1CBE109800523452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
